
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pharmacy Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <h4>Pharmacy Form</h4>
    <form>
        <label>Sale Date:</label>
        <input type="date" name="sale_date" value="{{ sale_date }}"><br><br>
        <label>Customer Name:</label>
        <input type="text" name="customer_name"><br><br>
        <label>Doctor Name:</label>
        <input type="text" name="doctor_name"><br><br>
        <label>Medicine Name:</label>
        <input type="text" name="medicine_name"><br><br>
        <label>Batch No:</label>
        <input type="text" name="batch_no"><br><br>
        <label>Expiry Date:</label>
        <input type="date" name="expiry_date"><br><br>
        <label>Quantity:</label>
        <input type="number" name="qty"><br><br>
        <label>MRP:</label>
        <input type="number" name="mrp"><br><br>
        <label>Total Price:</label>
        <input type="number" name="total"><br><br>
        <label>Discount:</label>
        <input type="number" name="discount"><br><br>
        <label>Net Price:</label>
        <input type="number" name="net"><br><br>
        <input type="submit" value="Save">
    </form>
</body>
</html>
